<!DOCTYPE html>
<html lang="en">




<%- include('../layout/head.ejs') %>

    <body>
        <%- include('../layout/nav.ejs') %>
            <%- include('../layout/header-page.ejs') %>
                <%- include('../layout/main-content.ejs') %>
                    <%- include('../layout/footer.ejs') %>
                        <!-- Core theme JS-->
                        <script
                            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

                        <script src="/js/scripts.js"></script>
    </body>

</html>